body { 
    margin:0; 
    font-family: Arial, sans-serif; 
    background:#9cb8d4; 
    overflow-x:hidden;
}

#backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('startImage.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#defaultCanvas0 { 
    display:block; 
    margin:0 auto; 
}
input[type="file"] { 
    display:none; 
}

/* 업로드 버튼 스타일 */
.upload-btn{
    background:rgba(255,255,255,0.8);
    border:white 1px solid;
    color:#6098d0;
    padding:15px 60px;
    border-radius:100px;
    font-size:18px;
    font-weight: 700;
    cursor:pointer;
    box-shadow:0 4px 15px rgba(0,0,0,.15);
    transition:.3s
}
.upload-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 6px 20px rgba(0,0,0,.25)
}

/* 이름 입력창 스타일 */
.name-input{
    background:rgba(255,255,255,0.9);
    border:2px solid #ddd;
    border-radius:15px;
    padding:12px 20px;
    font-size:16px;
    text-align:center;
    outline:none;
    transition:border-color .3s;
}
.name-input:focus{
    border-color:#4ECDC4
}

/* 완료 버튼 스타일 */
.done-btn{
    background:#174c82;
    border:none;
    color:#fff;
    padding:14px 35px;
    border-radius:35px;
    font-size:18px;
    width:100%;
    text-align:center;
    cursor:pointer;
    margin-top:15px;
    transition:.3s;
}
.done-btn:hover{
    transform:scale(1.05);
}
